<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 데이터베이스 연결 정보 설정 -->
                <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
                <property name="username" value="ohh"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>

    <!-- <mappers>
        <mapper resource="UserMapper.xml"/>
        <mapper resource="DataMapper.xml" />
        <mapper resource="BoardMapper.xml" />
        <mapper resource="CommentBMapper.xml" />
                
    </mappers> -->
</configuration>
